@page "/logs"

<PageTitle>Logs</PageTitle>

<div>
    <div class="input-group mb-3">
        <select class="form-select">
            <option value="All">All</option>
            <option value="ProjectB">Project A</option>
            <option value="ProjectB">Project B</option>
        </select>
        <input class="form-control filter" type="text" placeholder="Filter..." />
    </div>
</div>

@code {

}
